@import '~antd/es/style/themes/default.less';

.pieCard :global(.pie-stat) {
  font-size: 24px !important;
}

.activitiesList {
  padding: 0 24px 8px 24px;
  .username {
    color: @text-color;
  }
  .event {
    font-weight: normal;
  }
}
